.login-component {
    .login-card {
        width: 400px;
        margin-left: auto;
        margin-right: auto;

        .login-form {
            padding: 20px;

            mat-form-field {
                width: 100%;
            }
        }
    }
}