<div class="login-component">
    <div class="container">
        <mat-card class="login-card">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Login">
                    <form class="login-form">
                        <mat-form-field>
                            <input matInput placeholder="Username">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password"
                                type="password">
                        </mat-form-field>

                        <button mat-flat-button type="submit"
                            color="primary">Login</button>
                    </form>
                </mat-tab>
                <mat-tab label="Sign Up">
                    <form class="login-form">
                        <mat-form-field>
                            <input matInput placeholder="Username">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password"
                                type="password">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Re-enter Password"
                                type="password">
                        </mat-form-field>

                        <button mat-flat-button type="submit"
                            color="primary">Sign-up</button>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>
