<div class="profile-component">
    <div class="container">
        <mat-card>

            <mat-card-header>
                <div mat-card-avatar class="profile-image"></div>
                <mat-card-title>{{ name }}</mat-card-title>
                <mat-card-subtitle>{{ instruments }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

                <h3>Description</h3>
                <p>{{ description }}</p>

                <mat-accordion multi="true">
                    <!-- Personal Information -->
                    <mat-expansion-panel [expanded]="false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal Information
                            </mat-panel-title>
                            <mat-panel-description>
                                Name and contact methods
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="form-container">
                            <mat-form-field>
                                <input matInput placeholder="Name">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput placeholder="E-mail">
                            </mat-form-field>
                            <br>
                            <button mat-raised-button color="primary">Update</button>
                        </div>
                    </mat-expansion-panel>

                    <!-- Bio and Music -->
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Bio and Music Information
                            </mat-panel-title>
                            <mat-panel-description>
                                Talk about your instruments!
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="form-container">
                            <!--Bio Section-->
                            <mat-form-field>
                                <textarea matInput
                                    placeholder="Tell something about yourself"
                                    [(value)]="description"></textarea>
                            </mat-form-field>
                            <br>

                            <!--Instruments Section-->
                            <mat-form-field>
                                <mat-chip-list #chipList>
                                    <mat-chip *ngFor="let instrument of
                                        instruments"
                                        (removed)="remove(instrument)">
                                        {{ instrument }}
                                        <mat-icon matChipRemove>cancel</mat-icon>
                                    </mat-chip>
                                    <input placeholder="New instrument..."
                                        [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur"
                                        (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                            <br>
                            <button mat-flat-button color="primary">Update</button>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>

            </mat-card-content>
        </mat-card>
    </div>
</div>
