$avatar-size: 140px;

.profile-component {
    .profile-image {
        background-image: url('https://placekitten.com/400/400');
        background-size: cover;
        height: $avatar-size;
        width: $avatar-size;
        margin: 20px;
    }

    mat-card-header {
        mat-card-title {
            font-size: 36px;
            margin: 20px;
            margin-top: 50px;
        }
        mat-card-subtitle {
            margin: 20px;
        }
    }

    mat-card-content {
        h3 {
            padding-left: 20px;
            padding-right: 20px;
        }
        p {
            padding: 20px;
        }
    }

    .form-container {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    mat-form-field {
        width: 100%;
    }
}