.create-component {
    mat-card-header {
        i {
            margin: 20px;
            line-height: 20px;
            cursor: pointer;
        }
    }
    mat-card-content {
        mat-form-field {
            margin-left: auto;
            margin-right: 0;
        }
        mat-list {
            mat-list-item {
                height: 140px;
            }
        }
    }
    mat-divider {
        position: relative;
    }
    .card-container {
        padding: 20px;
    }
}