<div class="create-component">
    <div class="container">
        <h1>Create New Jam Session</h1>
        <mat-card>
            <mat-card-header>
                <h2 *ngIf="!editName">{{ newName }}</h2>
                <mat-form-field *ngIf="editName">
                    <input matInput placeholder="New name"
                        [(ngModel)]="newName">
                </mat-form-field>
                <i class="material-icons" (click)="editName=true"
                    *ngIf="!editName">edit</i>
                <i class="material-icons" (click)="editName=false"
                    *ngIf="editName">check</i>
            </mat-card-header>
            <mat-card-content>
                <div class="card-container">
                    <mat-list>

                        <mat-list-item>
                            Date
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker"
                                    placeholder="Choose a date"
                                    [(ngModel)]="newDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item>
                            Location
                            <mat-form-field>
                                <input matInput placeholder="Location"
                                    [(ngModel)]="newLocation">
                            </mat-form-field>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item>
                            Description
                            <mat-form-field>
                                <textarea matInput placeholder="Write a
                                    description" [(ngModel)]="newDescription"></textarea>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <mat-list-item>
                            Size Limit
                            <mat-form-field>
                                <mat-select placeholder="Max People"
                                    [(ngModel)]="newMaxPeople">
                                    <mat-option *ngFor="let number of numbers"
                                        [value]="number">
                                        {{number}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                    </mat-list>
                    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
