<div class="events-component">
    <div class="container">
        <h1>Upcoming Jam Sessions</h1>
        <mat-card *ngFor="let event of events">
            <mat-card-title>
                {{ event.name }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ event.date }}
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>