/* You can add global styles to this file, and also import other style files */

$background: #efefef;

body {
    margin: 0;
    background-color: $background;
}

// Helpers
.container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}