$grey: #616161;

.fill-space {
    flex: 1 1 auto;
}

.logo {
    cursor: pointer;
    transition-duration: 500ms;
    outline: none;
}

.logo:hover {
    transition-duration: 500ms;
    color: $grey;
}