<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">

    <!-- Logo Section -->
    <span [routerLink]="['/']" class="logo">{{ title }}</span>

    <!-- Spacer -->
    <span class="fill-space"></span>

    <!-- Links -->
    <div>
        <button mat-button [routerLink]="['/profile']">Profile</button>
        <button mat-button [routerLink]="['/events']">Events</button>
        <button mat-button [routerLink]="['/create']">Create Event</button>
    </div>

    <!-- Login Section -->
    <div>
        <button mat-button *ngIf="loggedIn" [routerLink]="['/login']">Login</button>
        <button mat-button *ngIf="!loggedIn">Logout</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>